.content-container {
    flex: 3;
    /* padding-left: 200px; */
}

h2 {
    display: flex;
    font-display: flex;
    color: #FB0244;
    font-size: 36px;
    align-items: center;
    /* margin-bottom: 20px;
    size-adjust:inherit ; */
}

p {
    font-size: 16px;
    /* margin-bottom: 20px; */
    line-height: 1.6;
}
