/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Full-screen loader wrapper */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it is on top of everything */
}
.loader-image{
    position: relative;
    width: 10%;
    height: auto;
    left: 220px;
    bottom: 100px;
}

/* The actual loader */
.loader {
    width: 30%;
    height: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    right: 80px;
}

.loader::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #FB0255;
    animation: loading 3s linear infinite;
    border-radius: 5px;
}

/* Loading animation */
@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


body {
    font-family: 'Montserrat';
    font-weight: 600;
    background-color: #0e0e0e;
    color: #fff;
}

.header-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #0e0e0e;
    padding: 10px ;
}

/* Logo Styles */
.logo-container {
    flex: 1;
    text-align: left;
}

.logo-left-1 {
    width: 100px;
    height: auto;
}
.logo-left-2{
    display: none;
}

.team-logo-container {
    flex: 1;
    text-align: right;
}

.logo-right {
    width: 80px;
    height: auto;
}

/* Navigation Bar */
.navbar {
    flex: 3;
    align-items: center;
    text-align: center;
}

.menu {
    list-style: none;
    display: inline-flex;
    text-align: center;
    padding: 0 100px;
}

.menu-item {
    margin: 0 15px;
}

.menu-item a {
    color: #444444;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    transition: color 0.3s ease;
}

.menu-item a:hover {
    color: #FB0244;
}

.active a {
    color: #FB0244;
       border-bottom: 2px solid #FB0244; /* Add bottom border */
}

/* Hero Section */
.hero-section {
    position: relative;
}

.main-image-container {
    position: relative;
}

.main-image {
    width: 100%;
    height: auto;
    display: block;
}

.join-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FB0255;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.join-btn:hover {
    color: #FB0255;
    text-decoration: solid;
    background-color: #fff;
}

.hamburger{
    display: none;
}
.mobile-menu{
    display: none;
}

/* RESPONSIVE DESIGN */

/* For Tablets and Medium Screens */
@media (max-width: 1024px) {

    body{
        background-color: #0e0e0e;
    }
    .header-container {
        width: 50%;
        height: auto;
        flex-direction: column;
        text-align: left;
        align-items: left;
        background-color: #0e0e0e
    }

    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0e0e0e;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Make sure it is on top of everything */
    }
    .loader-image{
        position: relative;
        width: 15%;
        height: auto;
        left: 50px;
        bottom: 55px;
    }
    
    /* The actual loader */
    .loader {
        width: 30%;
        height: 10px;
        background-color: #f3f3f3;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        right: 50px;
    }
    
    .loader::before {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        background-color: #FB0255;
        animation: loading 3s linear infinite;
        border-radius: 5px;
    }
    
    /* Loading animation */
    @keyframes loading {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    .logo-left-1{
        display: none;
    }
    .logo-left-2 {
        display: block;
        width: 200px;
        height: auto;
    }
    .logo-right{
        display: none;
    }

    .navbar {
        display: none;
    }

    .main-image {
        height: auto;
        top: 100px;
    }

    .join-btn {
        bottom: -100px;
        padding: 8px 15px;
        font-size: 14px;
    }
    .active a {
        color: #FB0244;
           border-bottom: none; /* Add bottom border */
    }
    .hamburger {
        
            display: block;
            position: absolute;
            top: 20px;  
            right: 20px; 
            color: #FB0255;
            background-color: #0e0e0e;
            font-size: 24px;
            z-index: 20; 
            cursor: pointer;
            box-shadow: none; /* Remove any box shadow */
            border: #0e0e0e;
        }
     
       
    
.mobile-menu {
    position: absolute;  /* Ensure it's positioned relative to the parent container */
    top: 60px;  /* Adjust based on where you want the menu to appear */
    left: 0;
    width: 100%;
    background-color: #0e0e0e;
    z-index: 20;  /* Higher z-index ensures it's above the image */
    visibility: hidden;
    text-decoration: none;
}
.mobile-menu ul {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
}
.mobile-menu ul li {
    padding: 1px 0;
    text-decoration: none;
}
.mobile-menu.active {
    visibility: visible;
    display:block;
    z-index: 100px;
}

}

@media (max-width: 768px) {
    body {
        display: block;
        padding: 10px;
    }

    .logo-left-1{
        display: none;
    }
    .logo-left-2 {
        display: block;
        width: 150px;
        height: auto;
    }
    .logo-right{
      padding-right: 10px; 
   }
    .navbar ul li {
        margin: 0;
    }

    .join-button {
        bottom: 30px;
        font-size: 16px;
        padding: 100px 20px;
    }

    .top-left, .top-right {
        padding-right:10px;
        width: 80px;
        top: 10px;
    }

    .top-left {
        left: 5px;
    }

    .top-right {
        right: 5px;
    }

    .image-section {
        width: 90%;
        margin: 0 auto;
    }

    .image-section img {
        max-width: 100%;
        height: auto;
    }
    .hamburger {
        
        display: block;
        position: absolute;
        top: 20px;  
        right: 20px; 
        color: #FB0255;
        background-color: #0e0e0e;
        font-size: 24px;
        z-index: 20; 
        cursor: pointer;
        box-shadow: none; /* Remove any box shadow */
        border: #0e0e0e;
}
    
    
.mobile-menu {
    position: absolute;  /* Ensure it's positioned relative to the parent container */
    top: 60px;  /* Adjust based on where you want the menu to appear */
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 20;  /* Higher z-index ensures it's above the image */
    visibility: hidden;
    text-decoration: none;
    box-shadow: none;
}
.mobile-menu ul {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    padding: 0;
}
.mobile-menu ul li {
    list-style-type: none;
    padding: 1px 0;
    text-decoration: none;
}
.mobile-menu.active {
    visibility: visible;
    display:block;
    z-index: 100px;
}

}

@media (max-width: 480px) {
    .join-button {
        bottom: 30px;
        font-size: 14px;
        padding: 8px 15px;
        
    }

    .logo-right{
        display: none;
    }

    .top-left, .top-right {
        width: 60px;
    }
 
        .menu-item {
            margin: 0 5px;
        }
    }
    


